body{
    margin: 0 0 0 0;
    background-color: white;
    font-family: "Myriad Set Pro","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 10px;
    line-height: 1.7em;
    -webkit-font-smoothing: antialiased;
    display: block;
}
/*---------------------------------------------------------------
    Global
-----------------------------------------------------------------*/
.col-1-2{
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align:text-top;

}
.col-1-3{
    width: 33%;
    height: auto;
    display: inline-block;
    vertical-align:text-top;
    float: left;

}
.col-1-4{
    width: 25%;
    height: auto;
    display: inline-block;
    vertical-align:text-top;
    float: left;

}
.section-content {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    background-color: none;

}
/*---------------------------------------------------------------
    Header
-----------------------------------------------------------------*/
#header {
    width: 100vw;
    height: 600px;
}
/*---------------------------------------------------------------
    Nav
-----------------------------------------------------------------*/
#nav {
    width: 100%;
    height: 64px;
    background-color: rgba(239,239,239,0.8);
    border-bottom: solid 1px #727171;
    box-shadow: 0px 1px 20px black !important;
    -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, .7) !important;
    -moz-box-shadow:    0px 1px 20px rgba(0, 0, 0, .7) !important;
    z-index: 1000;
    position:relative !important;
    font-size: 18px;
    color: #4a4a4a;
}
#nav a {
    text-decoration: none;
    color:rgb(95, 95, 95);
    font-weight: bold;
    font-size: 1.25em;
    padding-left:16px;
    padding-right: 16px;
    text-align: center;
    min-width: 100px;
    text-transform: uppercase;
    margin-top: 10px;
}

#nav ul {
    float: right;
    margin-right: 5%;
    height: auto;
    padding-left: 2px;


}
#nav img {
    width: 44px;
    height: 44px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 8%;
}

#nav h1 {
    width: auto;
    height: auto;
    display: inline-block;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    letter-spacing: 2px;
}
/*---------------------------------------------------------------
    MapView
-----------------------------------------------------------------*/
#map-view {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-bottom: solid 1px #676666;
    margin-top: 64px;
}

/*---------------------------------------------------------------
    Contact Form
-----------------------------------------------------------------*/
#contact-box-background {
    width: 600px;
    height: auto;
    background-color: rgba(239,239,239,0.8);
    z-index: 1;
    top:10%;
    margin-top: 5%;
    float: right;
    margin-right: 5%;
    display:block;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 1px 10px black !important;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, .7) !important;
    -moz-box-shadow:    0px 1px 10px rgba(0, 0, 0, .7) !important;
    padding-bottom: 10px;
    padding-right: 10px
    position:relative;
}
#contact-box-info{
    width: 45%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;

}
#contact-box-info h1 {
    font-size: 2.5em;
    width: 100%;
    display: block;
    float: left;
    margin-left: 0px;
    margin-top: 10px;


}
#contact-box-info li {
    list-style-type: none;
    line-height: 150%;
    float: right;
    margin-right: 20px;
    font-size: 1.5em;
    display: block;

}
#contact-box-info p {
    width: 90%;
    height: auto;
    display: block;
    float: none;
    margin-left: 0px;
    font-size: 16px;



}
.contact-form{
    vertical-align:text-top;
    width: 50%;
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.contact-input-field{
    width:100%;
    height:2.75em;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    border: solid 1px #d1d1d1;
    color: black;
    padding-left: 5px;
    float: right;
    border-radius: 4px;
    font-size: 1.5em;
}

#contact-submit-button{
    width: 50%;
    height: 2.75em;
    border: solid 1px #267c00;
    background-color: #01d62a;
    float: right;
    border-radius: 4px;
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 1px #939393;
}

/*---------------------------------------------------------------
    About Section
-----------------------------------------------------------------*/
#about-box {
    background-color: white;
    width: 100vw;
    height: auto;
    min-height: 400px;
    display: block;
    margin-top: 5%;
    margin-bottom: 64px;

}
#about-box p {
    font-size: 1.5em;
    width: 90%;
    line-height: 1.25em;
}

#about-box li {
    list-style-type: circle;
    line-height: 1.25em;
    float: left;
    margin-right: 20px;
    font-size: 1.5em;
    display: block;

}
/*---------------------------------------------------------------
    Client Section
-----------------------------------------------------------------*/
#clients img {
    width: 256px;
    height: auto;
}

#clients {
    width: 100vw;
    height: auto;
    min-height: 400px;
    padding-top: 5%;
    background-color: whitesmoke;
}

/*---------------------------------------------------------------
    Footer Section
-----------------------------------------------------------------*/
#footer {
    width: 100%;
    height: auto;
    background-color: grey;
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer p{
    padding-top: 5px;
    font-size: 1.25em;
    text-align: center;
}

#footer img {
    width: 32px;
    height: 32px;
}

#footer .section-content li {
    list-style-type: none;
    line-height: 150%;
    float: center;
    margin-right: 20px;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

#footer ul {
    padding-left: 0px;
}

.section-content h2 {
    text-align: center;
}
