/*-----------------------------------------
    css för elvis
-----------------------------------------*/
body {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-family: Arial, sans-serif;
    display: block;
    -webkit-font-smoothing: antialiased;

}

#page-wrap {
    width: 960px;
    height: auto;
    margin: 0 auto;
    background-color: none;
}
/*-----------------------------------------
    Columns
-----------------------------------------*/
.col-1-2 {
    width: 49%;
    height: auto;
    display: inline-block;
}
.col-1-3 {
    width: 33%;
    height: auto;
    display:inline-block;
    vertical-align:text-top;
}
/*-----------------------------------------
    Start
-----------------------------------------*/
#start {
    width: 100%;
    height: 100px;
    background-color: silver;
}
#start h1 {
    width: auto;
    display: inline-block;
    font-family: 'Courgette', cursive;
    font-size: 3em;
    letter-spacing: 2px;
}
#start img {
    width: 80px;
    height: 80px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
 #start p {
     color:black;
     width:auto;
     display: inline-block;
     float:right;
     text-align: right;
     font-weight: bold;
     margin-right: 10px;
     letter-spacing: 1px;
}
/*-----------------------------------------
    Nav
-----------------------------------------*/
#nav {
   width:100%;
   height:50px;
   display: inline-block;
   float: left;
   background-color: #9eef9e;
   margin-right: 10px;
   text-transform: uppercase;
}

#nav ul {
    float: right;
    margin-right: 10px;

}

#nav ul a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.25em;
    padding-left:16px;
    padding-right: 16px;
    text-align: center;
    min-width: 100px;

}

#nav ul a:hover{
    background-color: tomato;
    border-radius: 4px;
    text-align: center;
    color: white;
}
/*-----------------------------------------
    Main
-----------------------------------------*/
#about {
    width: 100%;
    height: auto;
    background-color:pink;
}
#about li {
    list-style-type: circle;
    font-size: 0.9em;
    line-height: 150%;
}

#about ol {
    margin-top: 0px;
}

#about p {
    color:black;
    text-align: left;
    font-size: 0.9em;
    margin-right:1%;
    width:90%;
    float:none;

}
/*-----------------------------------------
    client, referenser etc
-----------------------------------------*/
#clients {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: #fff;
    margin: 0 auto;

}
.client{
    display:inline-block;
    width:100%;
    margin-bottom: 30px;
    margin: 0 auto;
}

#clients p{
    color:black;
    text-align: right;
    font-size: 0.69em;
    margin-right:12%;
    width:75%;
}
/*-----------------------------------------
    contact
-----------------------------------------*/
#contact {
    width: 100%;
    height: auto;
    background-color: white;
}

/* Google Map */
#google-maps {
    margin: 0 auto;
    height: auto;
}

#map-view {
    width:80%;
    height:80%;
    min-height: 210px;
    overflow: hidden;
    border:solid #e6e4e4 1px;
    border-radius: 10px;
    margin-top: 0%;
}

/* Contact form */
.contact-form {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.form-title {
    margin-left: 5px;
    color:grey;
}
.form-field {
    height:32px;
    width:80%;
    border:solid whitesmoke 1px;
    border-radius: 4px;
    padding: 2px 2px 2px 4px;
    margin-bottom: 8px;
    background-color: #f4e7e7;
    font-size: 0.85em;
}

.button-container {
    width: 100%;
    height: auto;
}

.submit-button {
    width: 100px;
    height: 32px;
    background-color: tomato;
    border-radius: 6px;
    border: solid 1px tomato;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
    box-shadow: 2px 2px 1px #fc5335;
    float: right;
    margin-right: 20%;

}

.submit-button:hover{
    background-color: #ff765d;
    color:silver;
}


/*-----------------------------------------
    footer
-----------------------------------------*/
#footer {
    width: 100%;
    height: 150px;
    background-color: grey;
    color:white;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px
}
#footer p{
    padding-top: 5px;
    text-align: center;
}

.client img {
    width: 256px;
    height: auto;
}

#col-about-mid {
    height: 100%;

}
